---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

@media (min-width: 48em) { html { font-size: 16px; } }
@media (min-width: 64em) { 
    html { font-size: 18px; };
    h3.author__name { display: none; };
}
@media (min-width: 80em) { 
    html { font-size: 20px; };
    h3.author__name { display: none; };
}

@media (min-width: 80em) { .search-content .search-input { font-size: 1.5em; } }

div.highlighter-rouge, figure.highlight { position: relative; margin-bottom: 1em; background: #263238; color: #eeffff; font-family: Monaco, Consolas, "Lucida Console", monospace; font-size: 0.7em; line-height: 1.8; border-radius: 4px; }

