<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>secoats | Posts</title>
        <link rel="canonical" href="https://secoats.github.io/posts.html" />
        <meta name="description" content="Ramblings about InfoSec, Pentesting, CTF and Tools" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="google-site-verification" content="ec3XZVmgp3ZOsiLB8riLA-9B5kVJVR_71u11vmIMs4w" />
        <meta property="og:type" content="website" />
        <meta property="og:locale" content="en_US" />
        <meta property="og:site_name" content="secoats" />
        <meta property="og:title" content="All Posts" />
        <meta property="og:url" content="https://secoats.github.io/posts.html" />
        <meta property="og:image" content="https://secoats.github.io/assets/img/oats_field.jpg">
        <link rel="stylesheet" href="/assets/css/main.css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5/css/all.min.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Fira+Mono" />
    </head>
    <body>
        <div id="main">
            <div id="header">
                <div id="masthead" class="wrapper">
                    <span class="site-title">
                        <a href="/">secoats</a>
                    </span>
                    <span class="main-nav">
                        {{navigation}}
                    </span>
                </div>
            </div>
            <main id="content" class="wrapper">
                <div class="mbox" style="margin-bottom:100px;">
                    <h1>All Posts</h1>
                    <hr>
                    {%- for post in posts %}
                    <article itemscope="" itemtype="https://schema.org/CreativeWork">
                        <h2 itemprop="headline">
                            <a href="{{post.get('path')}}" rel="permalink">{{post.get('metadata').get('title')}}</a>
                        </h2>  
                        <p class="article-subline-preview" style="margin-bottom:0px;">
                            <span class="article-meta-reading-time"><i class="far fa-clock" aria-hidden="true"></i> {{post.get('custom_metadata').get('reading_time')}} minute read</span> - <span class="article-meta-published"> {{post.get('custom_metadata').get('publish_date')}} </span>
                        </p>
                        <p itemprop="description">
                            {{post.get('metadata').get('summary')}}
                        </p>
                    </article>
                    {%- endfor %}
                    
                </div>
            </main>
            <div id="footerbar">
                <footer class="wrapper">
                    <div class="footer-info">
                        {{footer}}
                    </div>
                </footer>
            </div>
        </div>
        <script src="/assets/js/main.js"></script>
    </body>
</html>